/*font paring 1
font-family: 'Trade Winds', ;
font-family: 'Simonetta', ;

*/



h1,
input,
button {
	font-family: 'Trade Winds';
}

.post,
a {
	font-family: 'Simonetta';
}

.post-date {
	color: gray;
}