/*font paring 1
font-family: 'Krona One', sans-serif;
font-family: 'Indie Flower', cursive;


*/



.post, input{
    font-family: 'Krona One', sans-serif;



}


h1,
button,
a,
.post-date {
	font-family: 'Indie Flower', cursive; 
}


button {
	font-size: 1.125em;
}


.post {
	line-height: 1.2;
}

.post-text {
	font-size: 1.25em;
}

.post-info {
	color: gray;
}

.post-author {
	/*color: darkblue;*/
}

.post-author strong {
	color: darkblue;
}

.post-date {
	font-size: 0.5em;
}

