.post{
    border: 1px solid red;
    border-radius: 0.25em;
    padding: 3em;
    margin-top: 1em; 
    position: relative;
    min-height: 100px;
}

.post-text {
   
    font-family: 'Itim';

}

.post-author {
    font-family: 'Amatic SC';
    

}

.post-date {
    font-family: 'Love Ya Like A Sister';
	

}


.post-profile-image {
	width: 80px;
	height: 80px;
	object-fit: cover;
	border-radius: 100px;

	position: absolute;
	right: 5px;
	top: 5px;
}