#container {
	display: grid;
	grid-template-columns: 2fr 3fr;
	grid-gap: 2em;
}

#title {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row: 1 / span 1;
}

#user-info {
	grid-column: 3 / 4;
	grid-row: 3 / span 1;
}

#login {
	grid-column: 4 / 5;
	grid-row: 3 / span 1;
}

#publish-post {
	grid-column: 1 / span 1;
	grid-row: 3 / span 1;
}

#posts {
	grid-column: 1 / span 1;
	grid-row: 4 / span 1;
}